/*
  title: base css
*/


/* =global elements
--------------------------------------------- */
ul{
  margin: 0;
}
body {
  /*color: #999;*/
  font: 20px/1.5em "Lucida Grande", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  /*width: 720px;*/
  margin: 20px;
  padding: 50px;
  background-image: url("../images/samples-bg.png");
}

header p {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#contact-block{
  position: absolute;
  top: 40px;
  right: 70px;
  width: 340px;
}

h1 {
  font-size: 5em;
}

#contact-block:before {
  content: "";
  width: 2px;
  height: 130%;
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  left: 0;
  top: 10px;
}
.metro-tile {
  list-style: none;
}

.metro-tile a{
  width: 100px;
  height: 30px;
  padding: 70px 0 0 10px;
  background-color: #ffae00;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:alpha(opacity=8);
  margin: 10px;
  float: left;
  text-align: left;
  -moz-box-shadow: 2px 2px 8px #888;
  -webkit-box-shadow: 2px 2px 8px #888;
  box-shadow: 2px 2px 8px #888;
}

.metro-tile a:hover {
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
  box-shadow: 2px 2px 2px #888;
  opacity: 1;
  -moz-opacity: 1;
  filter:alpha(opacity=1);
}

.metro-tile a:active {
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter:alpha(opacity=9);
}

h1{
  font: 5em "Audiowide", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a, a:hover, a:visited {
  color: white;
  text-decoration: none;
}

#color-picker {
  position: absolute;
  top: 10px;
  right: 10px;
}

#color-picker li {
  width: 15px;
  height: 15px;
  list-style: none;
  display: inline-block;
}

#color-picker li a {
  width: 15px;
  height: 15px;
  display: block;
}

#color-picker .green {
  background-color: green;
}
#color-picker .red {
  background-color: red;
}
#color-picker .yellow {
  background-color: #ffae00;
}

/* =clearfix
--------------------------------------------- */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

@media screen and (max-width: 720px), only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

  body{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 0;
  }
  header {
  }
  h1 {
    font-size: 3em;
  }
  #contact-block{
    position: static;
  }
  #contact-block ul{
    padding: 0;
  }
  .metro-tile a{
  }
}
